<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/logInSignUp.css">

    <link rel="stylesheet" href="/css/styleSheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s10">
            <div class="form-structor">
                <div class="signup">
                    <h2 class="form-title" id="signup">ثبت نام</h2>
                    <div class="form-holder" id="form-singup">
                        <!--<input type="text" class="input" placeholder="نام" />-->
                        <!--<input type="email" class="input" placeholder="ایمیل" />-->
                        <!--<input type="password" class="input" placeholder="کلمه عبور" />-->
                    </div>
                    <button id="signUpButton" class="submit-btn">ثبت نام</button>
                </div>
                <div class="login slide-up">
                    <div class="center">
                        <h2 class="form-title" id="login">ورود</h2>
                        <div class="form-holder">
                            <input id="lUserName" type="text" class="input" placeholder="نام کاربری" />
                            <input id="lPassword" type="password" class="input" placeholder="کلمه عبور" />
                        </div>
                        <a href="http://localhost:8181/user/dashboard" style="color: white"><button id="logInButton" class="submit-btn">ورود</button></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col s2">
            <div class="avatar">
                <img src="/img/logInPic.jpg">
                <div class="box">
                    <p class="right-align">
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                        به وبلاگ ما خوش آمدید ما یک وبلاگ شبیه به ...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/logInSignUp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>