<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styleSheet.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
<nav role="navigation" class="navbar-fix">
    <div class="nav-wrapper blue-grey lighten-5">
        <a href="/" class="brand-logo center blue-grey-text darken-4">
            <div class="avatar">
                <img src="/img/logInPic.jpg">
            </div>
        </a>
        <ul class="left hide-on-med-and-down">
            <li><a href="mobile.html"><i class="material-icons blue-grey-text darken-4">more_vert</i></a></li>
            <li><a href="sass.html"><i class="material-icons blue-grey-text darken-4">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons blue-grey-text darken-4 left"></i></a></li>
        </ul>
    </div>
</nav>
<div class="section no-pad-bot" >
    <div class="container">
        <div class="row">
            <div class="col s12 btn-categuris">
                <a class="waves-effect waves-light btn blue-grey lighten-3 margin-left"><i class="material-icons right">cloud</i>فضای ابری</a>
                <a class="waves-effect waves-light btn blue-grey lighten-3"><i class="material-icons right">airplay</i>دسکتاپ</a>
                <a class="waves-effect waves-light btn blue-grey lighten-3"><i class="material-icons right">android</i>اندروید</a>
                <a class="waves-effect waves-light btn blue-grey lighten-3"><i class="material-icons right">casino</i>بازی ها</a>
                <a class="waves-effect waves-light btn blue-grey lighten-3"><i class="material-icons right">code</i>کد نویسی</a>
                <a class="waves-effect waves-light btn blue-grey lighten-3"><i class="material-icons right">local_library</i>خواندنی ها</a>
                <a class="waves-effect waves-light btn blue-grey lighten-3"><i class="material-icons right">tap_and_play</i>موبایل</a>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/blog-img.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                        <p><a href="/post">لینک</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                        <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/blog-img.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                        <p><a href="/post">لینک</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                        <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/blog-img.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                        <p><a href="/post">لینک</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                        <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/blog-img.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                            <p><a href="/post">لینک</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                            <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                        </div>
                    </div>
                </div>
                <div class="col s8">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/blog-img.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                            <p><a href="/post">لینک</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                            <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s8">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/blog-img.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                            <p><a href="/post">لینک</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                            <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/img/blog-img.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                            <p><a href="/post">لینک</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                            <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/blog-img.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                        <p><a href="/post">لینک</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                        <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/blog-img.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                        <p><a href="/post">لینک</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                        <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/img/blog-img.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">عنوان متن<i class="material-icons left">more_vert</i></span>
                        <p><a href="/view/postPage.html">لینک</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons left">close</i>عنوان متن</span>
                        <p>متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ...متن تمامی آرتیکل های مان را این گونه می سازیم ... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--فوتر صفحه -->
<!--<footer class="page-footer">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col l6 offset-s12  s12">-->
                <!--<h5 class="white-text">لینک</h5>-->
                <!--<ul >-->
                    <!--<li class="display-inline"><a class="grey-text text-lighten-3" href="#!">لینک</a></li>-->
                    <!--<li class="display-inline"><a class="grey-text text-lighten-3" href="#!">لینک</a></li>-->
                    <!--<li class="display-inline"><a class="grey-text text-lighten-3" href="#!">لینک</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col l6 s12">-->
                <!--<h5 class="white-text">محل فوتر</h5>-->
                <!--<p class="grey-text text-lighten-4">کانتنت های مورد نظر در فوتر </p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="footer-copyright">-->
        <!--<div class="container">-->
            <!--© گروه مکتب-->
            <!--<a class="grey-text text-lighten-4 right" href="#!">پیوند</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</footer>-->
<script src="javascript/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>